/Variables/nbproject/private/
/Variables/build/
/Loops/nbproject/private/
/Loops/build/
/Hw1MaureenBotoman/nbproject/private/
/Hw1MaureenBotoman/build/
/FunWithArrays/nbproject/private/
/FunWithArrays/build/